* {
    box-sizing: border-box;
}

html {
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;  
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
}

.container {
   width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
}

.row::before, .row::after {
    content: " ";
    display: table;
}

.col-sm-12 {
    flex-basis: 100%;
  }
  .col-sm-11 {
    flex-basis: 91.66666667%;
  }
  .col-sm-10 {
    flex-basis: 83.33333333%;
  }
  .col-sm-9 {
    flex-basis: 75%;
  }
  .col-sm-8 {
    flex-basis: 66.66666667%;
  }
  .col-sm-7 {
    flex-basis: 58.33333333%;
  }
  .col-sm-6 {
    flex-basis: 50%;
  }
  .col-sm-5 {
    flex-basis: 41.66666667%;
  }
  .col-sm-4 {
    flex-basis: 33.33333333%;
  }
  .col-sm-3 {
    flex-basis: 25%;
  }
  .col-sm-2 {
    flex-basis: 16.66666667%;
  }
  .col-sm-1 {
    flex-basis: 8.33333333%;
  }
  
.box1 {
 background-color: brown;
 padding: 10px;
}

.box2 {
 background-color: blue;
 padding: 10px;
}

.box3 {
 background-color: rgb(32, 28, 71);
 padding: 0px;
}


/* Media Queries */

/* < 768px xs */

/* >= 768px AND  < 992px  sm */

/* >= 992px AND < 1200px md */

/* >= 1200px lg */